<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.9.dtd">

<suite name="UI Testing Playground — Full Suite" verbose="2" parallel="false">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="com.uitesting.listeners.AllureEnvironmentListener"/>
    </listeners>

    <test name="Sample App Tests">
        <classes>
            <class name="com.uitesting.tests.SampleAppTest"/>
        </classes>
    </test>

    <test name="Frames Tests">
        <classes>
            <class name="com.uitesting.tests.FramesTest"/>
        </classes>
    </test>

    <test name="Click Tests">
        <classes>
            <class name="com.uitesting.tests.ClickTest"/>
        </classes>
    </test>


    <test name="Dynamic ID Tests">
        <classes>
            <class name="com.uitesting.tests.DynamicIdTest"/>
        </classes>
    </test>

    <test name="Text Input Tests">
        <classes>
            <class name="com.uitesting.tests.TextInputTest"/>
        </classes>
    </test>

</suite>
